DISCORD_TOKEN=your_token_here
CLIENT_ID=your_application_id
GUILD_ID=your_server_id
SCHEDULE_CHANNEL_ID=channel_id_for_weekly_posts
ADMIN_USER_IDS=comma_separated_discord_user_ids
COMMISSIONER_ROLE_NAME=Commissioner
